:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: #dfecfe;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'Arial', sans-serif;
  color: #0c141c;
  font-size: 4rem;
}

.input-group .form-control {
  height: 50px; /* Tăng chiều cao của ô nhập liệu */
  font-size: 1.25rem; /* Tăng kích thước chữ */
  margin: 1rem;
  border-radius: 10px;
  padding: 0 20px;
  text-indent: 10px;
}

.input-group .btn {
  height: 50px; /* Tăng chiều cao của nút */
  font-size: 1.25rem; /* Tăng kích thước chữ */
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-body{
  display: flex;
  justify-content: center;
  text-align: center;
}

.list-group-item {
  font-size: 14px;
  color: #34495e;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
}

.table-printer {
  width: 40%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 3rem;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
  
table th {
  background-color: #f2f2f2;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.payment {
  width: 40%;
  margin: 0 auto;
}

.text-success {
  font-weight: bold;
  font-size: 1.5em;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.input-group .form-control {
  height: 50px;
  font-size: 1.25rem;
}

.input-group .btn {
  height: 50px;
  font-size: 1.25rem;
}
