<header class="header">
  <div class="logo-container">
    <img
      src="../../../assets/images/logo.png"
      alt="HCMUT SPSS Logo"
      class="logo"
    />
    <span class="logo-text">HCMUT SPSS</span>
  </div>
  <button class="login-btn" (click)="onLogin()">Đăng nhập</button>
</header>

<main class="content">
  <h1>Chào mừng đến với Dịch Vụ In Ấn Thông Minh Dành Cho Sinh Viên HCMUT</h1>
  <p>
    In ấn tài liệu của bạn một cách dễ dàng và hiệu quả tại tất cả các cơ sở của
    HCMUT
  </p>

  <section class="instructions">
    <h2>Cách Thức Hoạt Động</h2>
    <ol>
      <li>Đăng nhập bằng tài khoản sinh viên HCMUT</li>
      <li>Tải tài liệu lên hệ thống</li>
      <li>Chọn máy in và chỉ định các thuộc tính in</li>
      <li>Xác nhận</li>
      <li>Nhận tài liệu đã in từ máy in đã chọn</li>
    </ol>
  </section>
</main>

<footer class="footer">
  ©2024 HCMUT Student Smart Printing Service. All rights reserved.
</footer>
