<div class="login-container">
  <div class="left-panel">
    <img src="assets/logo.png" alt="BK TP.HCM Logo" class="logo" />
  </div>
  <div class="right-panel">
    <div class="login-form">
      <img
        src="assets/printer-icon.png"
        alt="Printer Icon"
        class="printer-icon"
      />
      <h2>Đăng nhập</h2>
      <form>
        <input id="email" type="email" placeholder="example@hcmut.edu.vn" />
        <input id="password" type="password" placeholder="Mật khẩu" />
        <button type="button" (click)="onLogin()">Xác nhận</button>
      </form>
    </div>
  </div>
</div>
